* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../img/catalogo_de_filmes.png");
    background-size: cover; 
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; 
}

.header {
    background-color: #030308;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    border-bottom: 1px solid #ddd;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 3;
}

.cta-button {
    background-color: #1c017e; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    text-decoration: none; 
    cursor: pointer;
}


.logo img {
    height: 10rem;
    width: 20rem;
}

.login_body {
    padding: 60px;
    z-index: 90;
    position: relative;
    display: block;
    max-width: 450px;
    height: 550px;
    margin: 10rem auto 0; 
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login_body input {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login_body input:hover {
    background-color: #444;
}

.input_box {
    margin-bottom: 25px;
}

.login_body button {
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login_body button:hover {
    background-color: #fc1722;
    cursor: pointer;
}

.support {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.support input {
    width: 15px;
    height: 15px;
}

.remember {
    display: flex;
    align-items: center;
}

.remember span {
    margin-right: 5px;
    height: 25px;
}

.help a {
    text-decoration: none;
    color: #737373;
}

.help a:hover {
    text-decoration: underline;
}

.login_facebook {
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.span_login_facebook {
    margin-right: 1rem;
    font-size: 2rem;
}

.login_facebook span a {
    text-decoration: none;
    color: #737373;
}

.sign_up {
    color: #737373;
    font-size: 16px;
}

.sign_up a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.sign_up a:hover {
    text-decoration: underline;
}

.terms {
    color: #737373;
    font-size: 13px;
}

.terms a {
    text-decoration: none;
    color: #0071eb;
}

.terms a:hover {
    text-decoration: underline;
}

footer {
    background-color: #030308;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; 
    z-index: 2;
}
